.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--ifm-container-width-xl);
}

.parentContainer {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 180px);
}

.pageTitle {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: -2px;
    font-size: 3rem;
}

.subTitle {
    margin-top: 10px;
}

.contactContainerSplit {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 70%;
}

.contactForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.contactEntrySplit {
    display: flex;
    gap: 5%;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5px;
}

.contactForm input,
.contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius-card);
    font-size: 16px;
}

.subscribeButton {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--ifm-color-primary);
    color: var(--color-surface-soft);
    font-weight: bold;
    border-radius: var(--border-radius-button);
    padding: 10px 30px;
    border-color: var(--ifm-color-primary);
    border-width: 2px;
    border-style: solid;
    font-family: var(--ifm-font-family-base);
    cursor: pointer;
}

.submitButton {
    background-color: var(--color-surface);
    color: var(--color-nav-icons);
}

.formConsent {
    display: block;
    font-size: 0.75rem;
    margin-top: 0;
    color: #777;
    width: 50%;
    line-height: 1.5;
}

.formConsent a {
    text-decoration: underline;
    color: inherit;
}

@media screen and (max-width: 768px) {
    .contactContainerSplit {
        width: 85%;
    }

    .formConsent {
        width: 70%;
    }
}

@media screen and (max-width: 450px) {
    .contactEntrySplit {
        flex-direction: column;
        gap: 5%;
    }

    .contactContainer {
        width: var(--ifm-container-width-s);
    }

    .subTitle {
        width: 70%;
    }

    .formConsent {
        width: 90%;
    }
}
