.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageDescription {
  text-align: center;
  margin-top: 6px;
  color: var(--pageHeader-color-text);
  margin-bottom: 2rem;
}
