.masonry {
  /* column-count: 1; */
  column-gap: 16px;
}
  
  @media (max-width: 1200px) {
    .masonry {
      column-count: 3;
    }
  }
  @media (max-width: 992px) {
    .masonry {
      column-count: 2;
    }
  }
  
  .grid {
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
  }
  
  .grid::before {
    border-radius: 5px;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .grid img {
    width: 100%;
    border-radius: 3px;
  }
  
  .grid__title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px 0;
  }
  
  .grid__author {
    font-size: 12px;
    font-weight: 300;
  }
  
  .grid__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .grid__body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  
  .grid__tag {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    border-radius: 5px;
    padding: 3px 10px;
    margin-bottom: 3px;
    font-size: 12px;
  }
  
  .mt_auto {
    margin-top: auto;
  }
  

  @media screen and (max-width: 450px) {
    .grid__tag {
      font-size: 8px;
      margin-bottom: 10px;
    }

    .grid__title {
      font-size: 15px;
      font-weight: bold;
      margin: 0 0 0px 0;
      margin-top: 0px;
    }

    .grid__body {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 10px;
      color: #fff;
      display: flex;
      flex-direction: column;
    }
  }